{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django Tailwind</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% tailwind_css %}
</head>

<body class="bg-green-900 font-serif leading-normal tracking-normal">
<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>Link</a></li>
      <li>
        <details class="border-gray-600">
          <summary>Parent</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
<div class="container mx-auto bg-green-300">
  <section class="flex items-center justify-center h-screen">
    <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
  </section>
</div>
</body>
</html>
